extends layout.pug 
block content
    .w3-container.w3-teal
        h2 Reparação #{reparacao._id}

    p
      a.w3-button.w3-teal(href='/') Voltar à página principal

    .w3-card-4
      .w3-container
        p
          strong Data:
          |  #{reparacao.data}
        p
          strong Nome:
          |  #{reparacao.nome}
        p
          strong NIF:
          |  #{reparacao.nif}
        p
          strong Matrícula:
          |  #{reparacao.viatura.matricula}
        p
          strong Marca:
          |  #{reparacao.viatura.marca}
        p
          strong Intervenções:
          if reparacao.intervencoes && reparacao.intervencoes.length > 0
            table.w3-table-all
                tr.w3-teal
                    th Código
                    th Nome
                    th Descrição
                each intervencao in reparacao.intervencoes
                    tr
                        td #{intervencao.codigo}
                        td #{intervencao.nome}
                        td #{intervencao.descricao}