extends layout

block content
  .w3-card-4 <!-- div -->
    header.w3-container.w3-teal
      h1 Exames Médicos Desportivos  
        a.w3-btn.w3-round.w3-light-gray(style="margin-left: 10px; height: 45px; font-size: 20px;" href="/emd/registo") + 
        a.w3-btn.w3-round.w3-light-gray(style="margin-left: 10px; height: 45px; font-size: 20px;" href="/emd/stats") Stats

    .w3-container
      .w3-margin-top
        label Ordenar por: 
        select(onchange="window.location=this.value")
          option(value="/emd?sort=data" selected=sort_data) Data
          option(value="/emd?sort=nome" selected=!sort_data) Nome

      table.w3-table-all.w3-margin-top
        tr
          th Nome
          th Data
          th Modalidade
          th Resultado
        each t in list
          tr(onclick=`window.location='/emd/${t.id}'` style='cursor:pointer' onmouseover="this.style.backgroundColor='#5cb99d';" onmouseout="this.style.backgroundColor='';")
            td= t.primeiro_nome + ' ' + t.sobrenome
            td= t.dataEMD
            td= t.modalidade
            if t.resultado
              td(style='color:green') &#10004
            else
              td(style='color:red') &#10008
            td
              a.w3-btn.w3-round.w3-blue-grey.w3-small(href=`/emd/editar/${t.id}`) Edit
              a.w3-btn.w3-round.w3-red.w3-small.w3-margin-left(href=`/emd/apagar/${t.id}`) Delete